@model MovieRecommender.Models.Movie

@{ 
    string avgRating = Model.AvgRating.ToString();
    if (avgRating == "1") { avgRating = "1.0"; }
    else if (avgRating == "2") { avgRating = "2.0"; }
    else if (avgRating == "3") { avgRating = "3.0"; }
    else if (avgRating == "4") { avgRating = "4.0"; }
    else if (avgRating == "5") { avgRating = "5.0"; }

    string userRating = Convert.ToString(ViewData["UserRating"]);
    if (!string.IsNullOrEmpty(userRating))
    {
        if (userRating == "1") { userRating = "1.0"; }
        else if (userRating == "2") { userRating = "2.0"; }
        else if (userRating == "3") { userRating = "3.0"; }
        else if (userRating == "4") { userRating = "4.0"; }
        else if (userRating == "5") { userRating = "5.0"; }
    }
}
<div class="carousel-item @ViewData["Active"]">
    <div class="col-lg-2 col-md-3">
        <div class="card mb-2">
            <a href="/Movies/Details/@Model.MovieId?userId=@ViewData["UserId"]">
                <img class="card-img-top" src="@Model.PosterLink">
            </a>
            <div class="card-body" style="padding:10px">
                <div style="height:60px">
                    <a class="text" style="height:60px; text-align:center" href="/Movies/Details/@Model.MovieId?userId=@ViewData["UserId"]">
                        <h6 class="card-title max-lines">@Model.Title</h6>
                    </a>
                </div>
                <p class="card-text" style="margin-bottom:5px; text-align:center">
                    Released @Model.Released
                </p>
                <div class="row" style="margin-left:3px; margin-right:0; margin-bottom:-30px">
                    <div class="rateit col" style="padding:0; margin-top:3px"
                            data-rateit-value="@avgRating" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                    <div class="col" style="padding:0">
                        <p style="padding-bottom:10px; margin-bottom:20px; margin-left:10px; color: blueviolet">(@avgRating)</p>
                    </div>
                </div>
                <div class="row" style="margin-left:3px; margin-right:0; margin-bottom:-30px">
                    @if (userRating != "0")
                    {
                        <div class="rateit col" style="padding:0; margin-top:3px"
                             data-rateit-value="@userRating" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        <div class="col" style="padding:0">
                            <p style="padding-bottom:10px; margin-bottom:20px; margin-left:10px; color: crimson">(@userRating)</p>
                        </div>
                    }
                    else
                    {
                        <div class="rateit col" style="padding:0; margin-top:3px" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        <div class="col" style="padding:0">
                            <p style="padding-bottom:10px; margin-bottom:20px; margin-left:10px; color: crimson">(---)</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>